 {
	"rules": {
		"strict": 0,
		"prettier/prettier": "warn"
	},
	"env": {
		"es2017": true,
		"browser": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"prettier"
	]
}
